body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7; /* Opacidad al 70% (0.7)*/
    z-index: -1; /* Asegura que esté detrás del contenido del cuerpo*/ 
}

.-div-btn-danger {
    position: absolute;
    top: 5px;
    right: 5px;
}

.-div-btn-danger button {
    background-color: transparent; 
    color: black; 
    border: none; 
    padding: 5px 10px; 
    cursor: pointer;
}

.border{
    border-radius: 50%;
}



